# Logs
*.log
logs*
*.lck

# Compiled output
*.class
*.jar
*.war
*.ear
/bin/
/target/
/out/

# Eclipse project files
.classpath
.project
.settings/
.metadata/
.recommenders/
.apt_generated/
.externalToolBuilders/

# OS-specific
.DS_Store
Thumbs.db